PORT=8888
TZ=Asia/Jakarta
DATA_DIR=
ANGGARAN_FILE=
ALLOWED_ORIGIN=https://sakubijak.com

SIPKEU_ADMIN_USER=admin
SIPKEU_ADMIN_PASSWORD=GANTI_PASSWORD_ADMIN
SIPKEU_OPERATOR_USER=operator
SIPKEU_OPERATOR_PASSWORD=GANTI_PASSWORD_OPERATOR
